# run syntheis in an O1 atlas

[core]
workers = 1
logging_conf_file = logging.conf

[SynthesisConfig]
mtypes = ["L5_TPC:A"]

[RunnerConfig]
nb_jobs = 5

[CircuitConfig]
atlas_path = atlas
region = O0

[BuildCircuit]
density_factor = 1

[SliceCircuit]
n_cells = 5

[CreateAtlasPlanes]
plane_type = centerline_straight
plane_count = 5
slice_thickness = 50

[GetSynthesisInputs]
url = git@bbpgitlab.epfl.ch:neuromath/synthdb.git
git_synthesis_input_path = synthdb/insitu_synthesis_inputs/rat_O1
branch = main

[BuildMorphsDF]
neurondb_path = /gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc/neuronDB.xml
morphology_dirs = {"morphology_path": "/gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc"}

[ValidateSynthesis]
with_collage = True
with_path_distance_fits = False
with_morphometrics = False
with_density_profiles = False
with_scale_statistics = False
with_score_matrix_reports=False
with_morphology_validation_reports = False
