# luigi parameters
[core]
logging_conf_file = logging.conf

[SynthesisConfig]
# uncomment below to select specific mtypes
mtypes = ["L5_TPC:A", "L6_BPC"]

# prepare step
[GetSynthesisInputs]
url = git@bbpgitlab.epfl.ch:neuromath/synthdb.git
git_synthesis_input_path = synthdb/insitu_synthesis_inputs/mouse_isocortex

[GetDefaultParameters]
trunk_method = 3d_angles

[BuildMorphsDF]
neurondb_path = /gpfs/bbp.cscs.ch/project/proj82/home/gevaert/morphology_release/mouse-scaled/scaled_output/06_RepairUnravel-asc/neuronDB.xml
morphology_dirs = {"morphology_path": "/gpfs/bbp.cscs.ch/project/proj82/home/gevaert/morphology_release/mouse-scaled/scaled_output/06_RepairUnravel-asc", "morphology_path_h5": "gpfs/bbp.cscs.ch/project/proj82/home/gevaert/morphology_release/mouse-scaled/scaled_output/06_RepairUnravel-h5"}

[VacuumSynthesize]
n_cells = 200

# validation plots
[ValidateVacuumSynthesis]
with_trunk_validation=True
with_morphometrics = False
with_density_profiles = False
with_vacuum_morphologies= False
with_score_matrix_reports=False
with_morphology_validation_reports=False
with_scale_statistics=False
