# this example runs synthesis in vacuum (without atlas, cells synthesised at [0, 0, 0] without layer thickness adaptation)

[RunnerConfig]
nb_jobs = 1

[SynthesisConfig]
# comment this line to synthesize all available mtypes
mtypes = ["L5_TPC:A", "L1_DAC"]

[GetSynthesisInputs]
# this fetches input data from a repository (one can also use local files), use different branch for testing stuff
url = git@bbpgitlab.epfl.ch:neuromath/synthdb.git
git_synthesis_input_path = synthdb/insitu_synthesis_inputs/rat_sscx
branch = main

[BuildMorphsDF]
# set the paths to input morphologies directories
neurondb_path = /gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc/neuronDB.xml
morphology_dirs = {"morphology_path": "/gpfs/bbp.cscs.ch/project/proj83/home/gevaert/morph-release/morph_release_old_code-2020-07-27/output/06_RepairUnravel-asc"}

[VacuumSynthesize]
# number of cells to synthesize per mtype
n_cells = 10

[ValidateVacuumSynthesis]
# enable/disable the validation plots
with_morphometrics = True
with_density_profiles = True
with_vacuum_morphologies = True
with_score_matrix_reports = True
with_trunk_validation = True
